.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__link {
  color: #fff;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 32px;
  gap: 20px;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 635px;
  margin: 0 0 28px 0;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 515px;
  margin: 0;
}

.header__image {
  max-width: 636px;
  display: block;
}

.staff {
  padding: 100px 0;
}

.staff__cards {
  max-width: 760px;
  margin: 0 auto;
  margin-top: 68px;
  list-style-type: none;
}

.card {
  height: 420px;
  width: 360px;
}

.card__footer {
  margin-top: auto;
}

.card__content {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.content {
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.staff__title {
  color: #fff;
  text-align: center;
}
.staff__subtitle {
  color: #fff;
  text-align: center;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}
